body {
  /* height: 100%; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}
.font-bolder {
  font-weight: bolder;
}
.brd_transparent {
  border-bottom: 2px solid transparent;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.form-padding {
  padding-left: 125px !important;
}

/* small screen mobile devices */
@media only screen and (max-width: 559px) {
  .form-width {
    width: 75%;
  }

  .form-width-multiple-items {
    width: 95%;
  }

  .form-width-my-account {
    width: 90%;
  }

  .tab-width {
    width: 125%;
  }
}

/* medium screen ipads / small Laptops */
@media only screen and (min-width: 560px) {
  .form-width {
    width: 55%;
  }

  .form-width-multiple-items {
    width: 75%;
  }

  .form-width-my-account {
    width: 79%;
  }

  .tab-width {
    width: 175%;
  }
}

/* This is default...Desktop */
@media only screen and (min-width: 1140px) {
  .form-width {
    width: 35%;
  }

  .form-width-multiple-items {
    width: 55%;
  }

  .form-width-my-account {
    width: 55%;
  }

  .tab-width {
    width: 140%;
  }
}

/* X-Large */
@media only screen and (min-width: 1450px) {
  .tab-width {
    width: 110%;
  }

  .form-width-multiple-items {
    width: 45%;
  }
}
